.chatting-main {
  background-color: #f9f9fb;
  min-height: 852px;
  min-width: 393px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.chatting-main .frame-2 {
  background-color: #ffffff;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px -4px 30px #00000029;
  height: 238px;
  left: 0;
  position: absolute;
  top: 614px;
  transform: rotate(-180.00deg);
  width: 393px;
}

.chatting-main .header {
  left: calc(50.00% - 196px) !important;
  position: absolute !important;
  top: 0 !important;
}

.chatting-main .home-bar {
  bottom: 0;
  height: 98px;
  left: calc(50.00% - 196px);
  position: absolute;
  width: 393px;
}

.chatting-main .rectangle {
  height: 100%;
  left: 0;
  position: absolute;
  top: -20.41%;
  width: 100%;
}

.chatting-main .frame-3 {
  align-items: center;
  display: flex;
  gap: 101px;
  height: 61.22%;
  justify-content: center;
  left: 0;
  padding: 0px 10px;
  position: absolute;
  top: 31.63%;
  width: 100%;
}

.chatting-main .left-icon {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 60px;
  justify-content: center;
  margin-left: -10.00px;
  padding: 0px 10px;
  position: relative;
  width: 142px;
}

.chatting-main .search-icon {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  margin-left: -2.00px;
  padding: 10px;
  position: relative;
}

.chatting-main .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.chatting-main .img {
  aspect-ratio: 1;
  height: 24px;
  position: relative;
  width: 24px;
}

.chatting-main .text-wrapper-4 {
  color: #cfcfcf;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.chatting-main .map-icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  margin-right: -2.00px;
  padding: 10px;
  position: relative;
}

.chatting-main .map-icon-2 {
  aspect-ratio: 0.79;
  height: 24px;
  position: relative;
  width: 19px;
}

.chatting-main .right-icon {
  align-items: center;
  display: flex;
  gap: 30px;
  height: 60px;
  justify-content: center;
  margin-right: -10.00px;
  padding: 0px 10px;
  position: relative;
  width: 150px;
}

.chatting-main .calendar-icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  margin-left: -2.00px;
  padding: 10px;
  position: relative;
}

.chatting-main .frame-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  position: relative;
  width: 31px;
}

.chatting-main .calendar-icon-2 {
  aspect-ratio: 0.9;
  height: 24px;
  position: relative;
  width: 22px;
}

.chatting-main .text-wrapper-5 {
  color: #cfcfcf;
  font-family: "Inter-Regular", Helvetica;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -3.50px;
  margin-right: -3.50px;
  position: relative;
  text-align: center;
  width: 38px;
}

.chatting-main .mypage-icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  margin-right: -2.00px;
  padding: 10px;
  position: relative;
}

.chatting-main .icon-stroke {
  aspect-ratio: 1.15;
  height: 24px;
  position: relative;
  width: 28px;
}

.chatting-main .ai-chatting {
  background-image: url(./ellipse-138.svg);
  background-size: 100% 100%;
  height: 61.22%;
  left: 42.49%;
  position: absolute;
  top: 4.08%;
  width: 15.27%;
}

.chatting-main .frame-wrapper {
  align-items: center;
  background-color: #9f63ff;
  border-radius: 91.8px;
  display: flex;
  gap: 9.18px;
  height: 76.67%;
  justify-content: center;
  left: 11.67%;
  padding: 9.18px;
  position: relative;
  top: 11.67%;
  width: 76.67%;
}

.chatting-main .icon-ionicons-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5.51px;
  justify-content: center;
  position: relative;
}

.chatting-main .icon-ionicons {
  height: 26.62px !important;
  position: relative !important;
  width: 26.62px !important;
}

.chatting-main .ai-icon-input-with {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 56px;
  left: calc(50.00% - 180px);
  padding: 4px;
  position: absolute;
  top: 676px;
  width: 361px;
}

.chatting-main .content {
  align-items: center;
  align-self: stretch;
  background-color: #eee6ff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
}

.chatting-main .supporting-text {
  align-items: center;
  color: #909090;
  display: flex;
  font-family: "Sora-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.50px;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.chatting-main .trailing-elements {
  flex: 0 0 auto;
  position: relative;
}

.chatting-main .p {
  color: #909090;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: calc(50.00% - 142px);
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 634px;
  white-space: nowrap;
}

.chatting-main .text-wrapper-6 {
  color: #9f63ff;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 26px;
  font-weight: 800;
  left: 15px;
  letter-spacing: 0;
  line-height: 39px;
  position: absolute;
  top: 120px;
  white-space: nowrap;
}

.chatting-main .ai-icon-instance {
  left: 15px !important;
  position: absolute !important;
  top: 187px !important;
}

.chatting-main .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 15px;
  position: absolute;
  top: 250px;
  width: 362px;
}

.chatting-main .text-wrapper-7 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.chatting-main .ask-sample-with-pic {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 23px;
  position: relative;
  width: 100%;
}

.chatting-main .mediping {
  aspect-ratio: 0.75;
  height: 207px;
  object-fit: cover;
  position: relative;
  width: 155px;
}

.chatting-main .ask-example {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 183px;
}

.chatting-main .ask {
  align-items: flex-start;
  background-color: #eee6ff;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: relative;
  width: 183px;
}

.chatting-main .text-wrapper-8 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
}

.chatting-main .text-wrapper-9 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Light", Helvetica;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 15px;
  position: relative;
  text-align: right;
}

.chatting-main .ask-2 {
  align-items: flex-start;
  background-color: #eee6ff;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-right: -2.00px;
  padding: 16px;
  position: relative;
  width: 185px;
}
