.search-list {
  background-color: #f9f9fb;
  min-height: 852px;
  min-width: 393px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.search-list .handle-wrapper {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px -4px 30px #0000001a;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 486px;
  left: 0;
  position: absolute;
  top: 299px;
}

.search-list .handle {
  height: 26px;
  position: relative;
  width: 393px;
}

.search-list .handle-2 {
  background-color: #c5a7ff;
  border-radius: 100px;
  bottom: 12px;
  height: 4px;
  left: calc(50.00% - 24px);
  position: absolute;
  width: 48px;
}

.search-list .frame-5 {
  height: 190px;
  left: calc(50.00% - 146px);
  position: absolute;
  top: 109px;
  width: 293px;
}

.search-list .frame-6 {
  align-items: center;
  display: flex;
  gap: 8px;
  left: 16px;
  position: absolute;
  top: 58px;
  width: 361px;
}

.search-list .fill-wrapper {
  background-color: #eee6ff;
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.search-list .fill {
  height: 20.77%;
  left: 36.73%;
  position: absolute;
  top: 29.23%;
  width: 36.05%;
}

.search-list .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.search-list .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 36px;
  position: absolute;
  top: 342px;
  width: 322px;
}

.search-list .frame-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.search-list .search-result-in-instance {
  left: unset !important;
  top: unset !important;
}

.search-list .under-bar {
  bottom: 0 !important;
  left: calc(50.00% - 196px) !important;
  position: absolute !important;
  top: unset !important;
}

.search-list .search-instance {
  left: 0 !important;
}
