.register {
    background-color: #f9f9fb;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.register-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    /* Offset for absolute Element (100px) */
    padding-bottom: 98px;
    /* Offset for fixed HomeBar (98px) */
    box-sizing: border-box;
    overflow-y: auto;
}

.register .frame-2 {
    width: 293px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.register .frame-3 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.register .text-wrapper-2 {
    color: #9f63ff;
    font-size: 25px;
    font-weight: 800;
}

.register .div-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.register .register-back-btn {
    background: #e8daf7;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0;
    position: absolute;
    left: -55px;
}

.register .register-back-btn:hover {
    background: #dcc9f3;
}

.register .register-back-btn svg {
    width: 18px;
    height: 18px;
}

/* 입력 영역 */
.register .frame-4 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.register .frame-5 {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.input-wrap {
    position: relative;
    height: 24px;
}

.input-wrap input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    color: #000;
    position: relative;
    z-index: 2;
}

.input-wrap span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    color: #909090;
    pointer-events: none;
    z-index: 1;
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 6px;
}

/* 버튼 */
.register .button-instance {
    width: 100% !important;
    margin-top: 10px;
    background-color: #C5A7FF !important;
}

/* Element 헤더 위치 */
.register .element {
    position: absolute;
    top: 0;
}