.my-page-screen {
  background-color: #9f63ff;
  min-height: 852px;
  min-width: 393px;
  position: relative;
  width: 100%;
}

.my-page-screen .rectangle-2 {
  background-color: #f5f5f5;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px -4px 30px #00000029;
  height: 736px;
  left: calc(50.00% - 196px);
  position: absolute;
  top: 116px;
  width: 393px;
}

.my-page-screen .frame-3 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: calc(50.00% - 180px);
  position: absolute;
  top: 26px;
  width: 361px;
}

.my-page-screen .group {
  background-color: #eee6ff;
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.my-page-screen .fill {
  height: 12.00%;
  left: 41.12%;
  position: absolute;
  top: 36.84%;
  width: 20.82%;
}

.my-page-screen .my-page-2 {
  height: 18.86px;
  position: relative;
  width: 80.66px;
}

.my-page-screen .trailing-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.my-page-screen .container {
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.my-page-screen .state-layer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.my-page-screen .icon-notification {
  background-image: url(./vector.svg);
  background-size: 100% 100%;
  height: 24.04px;
  position: relative;
  width: 24px;
}

.my-page-screen .frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 50px;
  position: absolute;
  top: 481px;
  width: 293px;
}

.my-page-screen .line {
  height: 1px;
  margin-top: -1.00px;
  object-fit: cover;
  position: relative;
  width: 293px;
}

.my-page-screen .frame-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.my-page-screen .icon-feathericons {
  aspect-ratio: 1 !important;
  height: 30px !important;
  position: relative !important;
  width: 30px !important;
}

.my-page-screen .frame-6 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 218px;
}

.my-page-screen .edit-profile {
  height: 14.49px;
  position: relative;
  width: 74.1px;
}

.my-page-screen .ic-baseline-greater {
  height: 15px;
  position: relative;
  width: 15px;
}

.my-page-screen .line-2 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 293px;
}

.my-page-screen .icon-instance-node {
  height: 30px !important;
  position: relative !important;
  width: 30px !important;
}

.my-page-screen .search-list {
  height: 11.44px;
  position: relative;
  width: 77.38px;
}

.my-page-screen .pill-list {
  height: 11.42px;
  position: relative;
  width: 47.79px;
}

.my-page-screen .vector {
  height: 74.63%;
  left: 47.00%;
  position: absolute;
  top: 12.68%;
  width: 40.37%;
}

.my-page-screen .vector-2 {
  height: 34.69%;
  left: 12.62%;
  position: absolute;
  top: 32.72%;
  width: 53.96%;
}

.my-page-screen .logout {
  height: 14.15px;
  position: relative;
  width: 47.73px;
}

.my-page-screen .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 40px;
  position: absolute;
  top: 138px;
  width: 312px;
}

.my-page-screen .my-page-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.my-page-screen .frame-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: #eee6ff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: space-around;
  padding: 16px;
  position: relative;
  width: 100%;
}

.my-page-screen .frame-8 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: -4.50px;
  margin-right: -4.50px;
  position: relative;
  width: 269px;
}

.my-page-screen .frame-9 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.my-page-screen .text-wrapper-5 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.my-page-screen .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.my-page-screen .frame-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 92px;
}

.my-page-screen .text-wrapper-6 {
  align-self: stretch;
  color: #979797;
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.my-page-screen .text-wrapper-7 {
  align-self: stretch;
  color: #979797;
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.my-page-screen .text-wrapper-8 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.my-page-screen .text-wrapper-9 {
  align-self: stretch;
  color: #000000;
  font-family: "Inter-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.my-page-screen .change-user-wrapper {
  align-items: flex-end;
  background-color: #9f63ff;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  padding: 2px 10px;
  position: relative;
}

.my-page-screen .change-user {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.my-page-screen .group-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: #eee6ff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 16px;
  height: 104px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.my-page-screen .group-2 {
  height: 81px;
  margin-bottom: -4.50px;
  margin-right: -32.12px;
  margin-top: -4.50px;
  position: relative;
  width: 292.12px;
}

.my-page-screen .frame-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 46px;
  left: 89px;
  position: absolute;
  top: 18px;
  width: 203.12px;
}

.my-page-screen .ellipse-2 {
  height: 81px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 73px;
}

.my-page-screen .mdi-camera-outline-wrapper {
  align-items: center;
  background-color: #eee6ff;
  border-radius: 12.5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 25px;
  justify-content: center;
  left: 57px;
  padding: 3px;
  position: absolute;
  top: 53px;
  width: 23px;
}

.my-page-screen .mdi-camera-outline {
  height: 18px;
  margin-left: -1.22px;
  margin-right: -1.22px;
  position: relative;
  width: 19px;
}

.my-page-screen .vector-3 {
  height: 75.00%;
  left: 8.33%;
  position: absolute;
  top: 8.33%;
  width: 83.33%;
}

.my-page-screen .button-instance {
  left: 50px !important;
  position: absolute !important;
  top: 396px !important;
}

.my-page-screen .under-bar {
  bottom: 0 !important;
  left: calc(50.00% - 196px) !important;
  position: absolute !important;
  top: unset !important;
}

.my-page-screen .my-page-instance {
  left: 0 !important;
}
