.welcome {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 852px;
  min-width: 393px;
  width: 100%;
}

.welcome-video {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 12px;
}
