.warning-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(58, 58, 58, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer; /* 클릭 가능 */
}

.warning-modal {
  background-color: #eee6ff;
  border-radius: 20px;
  padding: 20px;
  width: 290px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.frame {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.service-is-not-ready {
  color: #000;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
}

.service-is-currently {
  color: #909090;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  line-height: 19.6px;
  text-align: center;
}
