.button {
  all: unset;
  align-items: center;
  background-color: #c5a7ff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  left: 20px;
  padding: 10px 16px;
  position: relative;
  top: 20px;
  width: 293px;
}

.button .div {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 22.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}
