/* style.css */
.register {
  background-color: #f9f9fb;
  min-height: 852px;
  min-width: 393px;
  position: relative;
  width: 100%;
}

.frame-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 35px;
  position: absolute;
  top: calc(50% - 326px);
  left: calc(50% - 180px);
  width: 361px;
}

.frame-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-wrapper-2 {
  color: #9f63ff;
  font-size: 25px;
  font-weight: 800;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.frame-5 {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  position: relative;
  height: 24px;
}

.input-wrap input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #000;
  position: relative;
  z-index: 2;
}

.input-wrap span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  color: #909090;
  pointer-events: none;
  z-index: 1;
}

.line {
  margin-top: 6px;
  width: 100%;
  height: 1px;
}

.header {
  position: absolute !important;
  top: 0 !important;
  left: calc(50% - 196px) !important;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-wrapper > * {
  width: auto !important;
}

.button-instance {
  margin: 0 !important;
}

/* ✅ Login 버튼과 동일한 스타일로 Register 버튼 만들기 */
.register .button-instance {
  background-color: #c5a7ff;        /* Login 버튼 색 */
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  width: 100%;
  padding: 10px 16px;
}

/* 버튼 안 텍스트 */
.register .button-instance .div {
  padding: 0;                       /* Login 버튼과 동일 */
  font-size: 16px;
  font-weight: 700;
}
