/* src/components/Common/BottomNavBar.css */

.bottom-nav {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px; 
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #888; 
    text-decoration: none;
    font-size: 10px;
    flex-basis: 15%; 
    height: 100%;
    justify-content: center;
}

.nav-item.active {
    color: #A36AE3; 
    font-weight: bold;
}

/* 중앙 채팅 버튼 오버레이 스타일 */
.chat-button-wrapper {
    position: absolute;
    top: -25px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

.chat-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #A36AE3; 
    border: 4px solid white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}