/* src/pages/Login/style.css */

.login {
  background-color: #f9f9fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  min-height: 852px;
  min-width: 393px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login .header {
  position: fixed !important;
  align-self: center !important;
  left: 50%;
  top: 0;
}

.login .frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 705px;
  justify-content: center;
  margin-left: 0px;
  padding: 35px;
  position: absolute;
  width: 361px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login .frame-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
}

.login .text-wrapper-2 {
  align-self: stretch;
  color: #9f63ff;
  font-family: "Noto Sans", Helvetica;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: -1px;
  position: relative;
}

.login .frame-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.login .div-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: #eee6ff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
  width: 100%;
}

.login .button-instance {
  flex: 0 0 auto !important;
  left: unset !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  top: unset !important;
}

.login .frame-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 49px;
  position: relative;
  width: 182px;
}

.login .don-t-have-an {
  align-self: stretch;
  color: #909090;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.login .span {
  color: #909090;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
}

.login .text-wrapper-4 {
  font-weight: 800;
}

.login .text-wrapper-5 {
  align-self: stretch;
  color: #909090;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  text-align: center;
}

/* input 스타일 (a파일 기준 유지) */
.input-field {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
  color: #000;
}

.input-field::placeholder {
  color: #909090;
}
